*{
    margin: 0;
    padding: 0;
}


body {
    
    background-color: #333;

}

.container {
    display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1em;
  padding: 20px 10%;
}


.formulario {
    display: flex;
    margin-top: 10em;
    flex-direction: column;
    background-color: rgb(5, 116, 72);
    gap: 1.2em;
    padding: 2em;
    width: 100%;
    max-width: 500px;

}

.formulario label {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2em;
    font-size: 1.5em;
    
}

footer {
    display: flex;
    background-color: rgba(120, 156, 142, 0.745);
    flex-direction: row-reverse;
    
}